## 10. 行数カウント

In [109]:
import collections
import pdb
txt_path = "../../problem/data/popular-names.txt"

In [110]:
n_line = 0
with open(txt_path, "r") as f:
    for line in f:
        n_line += 1
print(n_line)

2740

## 11. タブをスペースに変換

In [111]:
with open(txt_path, "r") as f:
    for line in f:
        line.replace("\t", " ")

### 出力変わらずよくわからなかった

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [120]:
col1 = "../data/col1.txt"
col2 = "../data/col2.txt"

f = open(txt_path,"r")
f_col1 = open(col1,"w")
f_col2 = open(col2,"w")

l_list=f.read().splitlines() # with使えよ！ 
f_col1.write(l_list[0])
print(l_list[1])
f_col2.write(l_list[1])

f.close()
f_col1.close()
f_col2.close()

Anna	F	2604	1880

## 13. col1.txtとcol2.txtをマージ

In [113]:
merged_col = "../data/merged_col.txt"

f_col1 = open(col1,"r")
f_col2 = open(col2,"r")
f_merged = open(merged_col, "w")
f_merged.write(f_col1.read() + "\t" + f_col2.read())
f_col1.close()
f_col2.close()
f_merged.close()

## 14. 先頭からN行を出力

In [114]:
N = int(input("自然数Nを入力してください"))
with open(txt_path, "r") as f:
    l_list=f.read().splitlines()
    for i in range(N):
        print(l_list[i])

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

## 15. 末尾のN行を出力

In [126]:
N = int(input("自然数Nを入力してください"))
with open(txt_path, "r") as f:
    l_list=f.read().splitlines()
    for i in range(N):
        print(l_list[-(i+1)])

Ethan	M	13758	2016
Elijah	M	13764	2016
Michael	M	13998	2016
Jacob	M	14416	2016
Benjamin	M	14569	2016
James	M	14776	2016
Mason	M	15192	2016
William	M	15668	2016
Liam	M	18138	2016

## 16. ファイルをN分割する

In [116]:
N = int(input("自然数Nを入力してください"))
with open(txt_path, "r") as f:
    l_list=f.read().splitlines()
    n = len(l_list)// N
    print(n)
    for j,i in enumerate(range(0,len(l_list),n)):
        with open("../data/N_splitted_" + str(j) + ".txt", "w") as fw:
            for element in l_list[i:i+n]:
                
                
                #　外側でデータに関するループ
                #　utigawa de ru-pu 
                fw.write(element + "\n")

274

## 17. １列目の文字列の異なり

In [117]:
row_list1=[]
with open(txt_path, "r") as f:
    for line in f:
        row_list1.append(line.split("\t")[0])
c = collections.Counter(row_list1)
print(len(c.keys()))

132

## 18. 各行を3コラム目の数値の降順にソート

pandas使うとはやい・・・？

In [118]:
import pandas as pd
df = pd.read_table(txt_path,header=None)
df_sorted = df.sort_values(by=2, ascending=False)
print(df_sorted.head())

            0  1      2     3
1340    Linda  F  99685  1947
1360    Linda  F  96210  1948
1350    James  M  94762  1947
1550  Michael  M  92716  1957
1351   Robert  M  91641  1947

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [119]:
name_list = df[0].value_counts().index.tolist()
df_sorted_1 = pd.DataFrame()
for name in name_list:
    df_sorted_1 = pd.concat([df_sorted_1, df[df[0] == name]])
print(df_sorted_1)

             0  1      2     3
12       James  M   5927  1880
32       James  M   5441  1881
52       James  M   5892  1882
72       James  M   5223  1883
92       James  M   5693  1884
112      James  M   5175  1885
132      James  M   5355  1886
152      James  M   4768  1887
172      James  M   5562  1888
192      James  M   5020  1889
212      James  M   5097  1890
232      James  M   4516  1891
252      James  M   5398  1892
272      James  M   5029  1893
292      James  M   5110  1894
312      James  M   5335  1895
332      James  M   5207  1896
352      James  M   5113  1897
372      James  M   5321  1898
392      James  M   4597  1899
412      James  M   7245  1900
432      James  M   4735  1901
452      James  M   5592  1902
472      James  M   5480  1903
492      James  M   5855  1904
512      James  M   6042  1905
532      James  M   5908  1906
552      James  M   6707  1907
572      James  M   7012  1908
592      James  M   7594  1909
...        ... ..    ...   ...
2638     Aiden  M  15487  2011
2659     Aiden  M  14883  2012
2109     Megan  F  20013  1985
2249     Megan  F  17843  1992
2289     Megan  F  16579  1994
2188    Lauren  F  21062  1989
2209    Lauren  F  20500  1990
2709    Harper  F  10283  2015
2729    Harper  F  10733  2016
1359     Larry  M  34935  1947
1399     Larry  M  31807  1949
2719  Benjamin  M  13670  2015
2735  Benjamin  M  14569  2016
169     Bessie  F   2278  1888
188     Bessie  F   2343  1889
1869   Rebecca  F  14870  1973
1889   Rebecca  F  15167  1974
1789     Laura  F  17921  1969
1949     Kelly  F  18235  1977
709     Evelyn  F  11595  1915
1249   Carolyn  F  19979  1942
2738    Elijah  M  13764  2016
2048   Crystal  F  19101  1982
1839     Scott  M  30919  1971
1829     Julie  F  15328  1971
2328    Rachel  F  16112  1996
1667      Lori  F  23907  1963
1469    Pamela  F  25754  1953
699     Walter  M   8962  1914
1809     Tracy  F  18468  1970

[2740 rows x 4 columns]